# Normalize all text files to LF in the repository and working tree
* text=auto eol=lf

# Windows-only scripts keep CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.webp binary
*.dng binary
*.jar binary
*.keystore binary
*.jks binary
